// Menu button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include easeOut;

  }

  // Rotate into X with menu lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  // opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding, &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      // Slide in from top
      transform: translate3d(0, 0, 0);
    }
  }

  // Branding Side
  &-branding {
    background: $primary-color;
    @include easeOut;
    transform: translate3d(0, 100%, 0);

    &.show {
      // Slide in from bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      // background: url('../img/me.jpg');
      background: url('../dist/img/code-brackets-colored.png');
      background-position: center;
      background-size: 150px;
      background-repeat: no-repeat;
      border-radius: 50%;
      border: solid 3px #bfbfbf;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0); //start 600px to the right
    @include easeOut;

    &.show {
      // Slide in from right
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: set-text-color($primary-color);
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav-item slide by 0.1s
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s; // e.g. third nav-item will come in at 0.3s
  }
}

// Desktop Navigation
.desktop-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 1rem 2rem;
  display: none; // Hidden by default on mobile
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.mobile-logo {
  font-size: 1.5rem;
  font-weight: bold;

  &-text {
    color: set-text-color($primary-color);
    padding: 0.5rem 1rem;
    border: 2px solid $secondary-color;
    border-radius: 4px;
  }
}

.desktop-logo {
  padding: 0.5rem 1rem;
  width: 5em;
}

.desktop-nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;

  a {
    color: set-text-color($primary-color);
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;

    &:hover,
    &.active {
      color: $secondary-color;
      border-bottom-color: $secondary-color;
    }
  }
}

// Show desktop nav on larger screens
@media screen and (min-width: 769px) {
  .mobile-header {
    display: none;
  }
  
  .desktop-header {
    display: block;
  }
}

// Keep mobile menu visible on smaller screens
@media screen and (max-width: 768px) {
  .desktop-header {
    display: none;
  }
  
  .mobile-header {
    display: block;
  }
}